body{
    background-color: floralwhite;
}

#pizza {
    float: right;
    margin-right: 10%;
    width: 14%;
    height: 15%;
}

#color{
    color: aqua;
}

#masa {
    
    float: right;
    margin-right: -15%;
    margin-top: -7%;
    width: 30%;
    height: 20%;
}
